<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConvertApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <ConvertApp.Properties.Settings>
            <setting name="ConvertApp_localhost_Currency_x0020_Conversion"
                serializeAs="String">
                <value>https://localhost:44340/ConvertWS.asmx</value>
            </setting>
        </ConvertApp.Properties.Settings>
    </applicationSettings>
</configuration>